<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  <Fragment>
    <?if $(var.Platform) = x64 ?>
    <SetProperty Id="installCertificates" Value="&quot;[System64Folder]certutil.exe&quot; -addstore -f &quot;TrustedPublisher&quot; &quot;[CERTIFICATES]root.cer&quot;" Sequence="execute" Before="installCertificates"/>
    <SetProperty Id="installWinpkFilterDriver" Value="&quot;[System64Folder]netcfg.exe&quot; -v -l &quot;[DRIVERS]ndiswgc_lwf.inf&quot; -c s -i nt_ndiswgc" Sequence="execute" Before="installWinpkFilterDriver"/>
    <SetProperty Id="uninstallWinpkFilterDriver" Value="&quot;[System64Folder]netcfg.exe&quot; -v -u nt_ndiswgc" Sequence="execute" Before="uninstallWinpkFilterDriver"/>
    <SetProperty Id="rollbackInstallWinpkFilterDriver" Value="&quot;[System64Folder]netcfg.exe&quot; -v -u nt_ndiswgc" Sequence="execute" Before="rollbackInstallWinpkFilterDriver"/>
    <SetProperty Id="rollbackUninstallWinpkFilterDriver" Value="&quot;[System64Folder]netcfg.exe&quot; -v -l &quot;[DRIVERS]ndiswgc_lwf.inf&quot; -c s -i nt_ndiswgc" Sequence="execute" Before="rollbackUninstallWinpkFilterDriver"/>
    <SetProperty Id="sleepAfterUninstall" Value="&quot;[System64Folder]ping.exe&quot; -n 10 127.0.0.1 " Sequence="execute" Before="sleepAfterUninstall"/>
    <SetProperty Id="queryWinpkFilterDriver" Value="&quot;[System64Folder]sc.exe&quot; query ndiswgc" Sequence="execute" Before="queryWinpkFilterDriver"/>
    <SetProperty Id="stopWireSockVPNClientService" Value="&quot;[System64Folder]sc.exe&quot; stop wiresock-client-service" Sequence="execute" Before="stopWireSockVPNClientService"/>
    <SetProperty Id="startWireSockVPNClientService" Value="&quot;[System64Folder]sc.exe&quot; start wiresock-client-service" Sequence="execute" Before="startWireSockVPNClientService"/>
    <SetProperty Id="deleteWireSockVPNClientService" Value="&quot;[System64Folder]sc.exe&quot; delete wiresock-client-service" Sequence="execute" Before="deleteWireSockVPNClientService"/>
    <?else ?>
    <SetProperty Id="installCertificates" Value="&quot;[SystemFolder]certutil.exe&quot; -addstore -f &quot;TrustedPublisher&quot; &quot;[CERTIFICATES]\root.cer&quot;" Sequence="execute" Before="installCertificates"/>
    <SetProperty Id="installWinpkFilterDriver" Value="&quot;[SystemFolder]netcfg.exe&quot; -v -l &quot;[DRIVERS]ndiswgc_lwf.inf&quot; -c s -i nt_ndiswgc" Sequence="execute" Before="installWinpkFilterDriver"/>
    <SetProperty Id="uninstallWinpkFilterDriver" Value="&quot;[SystemFolder]netcfg.exe&quot; -v -u nt_ndiswgc" Sequence="execute" Before="uninstallWinpkFilterDriver"/>
    <SetProperty Id="rollbackInstallWinpkFilterDriver" Value="&quot;[SystemFolder]netcfg.exe&quot; -v -u nt_ndiswgc" Sequence="execute" Before="rollbackInstallWinpkFilterDriver"/>
    <SetProperty Id="rollbackUninstallWinpkFilterDriver" Value="&quot;[SystemFolder]netcfg.exe&quot; -v -l &quot;[DRIVERS]ndiswgc_lwf.inf&quot; -c s -i nt_ndiswgc" Sequence="execute" Before="rollbackUninstallWinpkFilterDriver"/>
    <SetProperty Id="sleepAfterUninstall" Value="&quot;[SystemFolder]ping.exe&quot; -n 10 127.0.0.1 " Sequence="execute" Before="sleepAfterUninstall"/>
    <SetProperty Id="queryWinpkFilterDriver" Value="&quot;[SystemFolder]sc.exe&quot; query ndiswgc" Sequence="execute" Before="queryWinpkFilterDriver"/>
    <SetProperty Id="stopWireSockVPNClientService" Value="&quot;[SystemFolder]sc.exe&quot; stop wiresock-client-service" Sequence="execute" Before="stopWireSockVPNClientService"/>
    <SetProperty Id="startWireSockVPNClientService" Value="&quot;[SystemFolder]sc.exe&quot; start wiresock-client-service" Sequence="execute" Before="startWireSockVPNClientService"/>
    <SetProperty Id="deleteWireSockVPNClientService" Value="&quot;[SystemFolder]sc.exe&quot; delete wiresock-client-service" Sequence="execute" Before="deleteWireSockVPNClientService"/>
    <?endif ?>

    <?if $(var.Platform) = x64 ?>
    <CustomAction Id="installCertificates" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="installWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="uninstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="queryWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="stopWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="startWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="deleteWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="sleepAfterUninstall" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="rollbackInstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="rollback" Impersonate="no" Return="check"/>
    <CustomAction Id="rollbackUninstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec64" Execute="rollback" Impersonate="no" Return="check"/>
    <?else ?>
    <CustomAction Id="installCertificates" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="installWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="uninstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="check"/>
    <CustomAction Id="queryWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="stopWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="startWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="deleteWireSockVPNClientService" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="sleepAfterUninstall" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Impersonate="no" Return="ignore"/>
    <CustomAction Id="rollbackInstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="rollback" Impersonate="no" Return="check"/>
    <CustomAction Id="rollbackUninstallWinpkFilterDriver" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="rollback" Impersonate="no" Return="check"/>
    <?endif ?>

    <InstallExecuteSequence>
      <Custom Action="installCertificates" After="DuplicateFiles"> REINSTALL OR (NOT Installed) </Custom>
		<Custom Action="rollbackUninstallWinpkFilterDriver" Before="uninstallWinpkFilterDriver"> REINSTALL OR UPGRADINGPRODUCTCODE OR (REMOVE="ALL") </Custom>
	    <Custom Action="uninstallWinpkFilterDriver" After="DeleteServices"> REINSTALL OR UPGRADINGPRODUCTCODE OR (REMOVE="ALL") </Custom>
	    <Custom Action="sleepAfterUninstall" After="uninstallWinpkFilterDriver"> REINSTALL OR UPGRADINGPRODUCTCODE OR (REMOVE="ALL") </Custom>
	    <Custom Action="queryWinpkFilterDriver" Before="installWinpkFilterDriver"> REINSTALL OR (NOT Installed) </Custom>
	    <Custom Action="stopWireSockVPNClientService" After="StopServices"> REINSTALL OR UPGRADINGPRODUCTCODE OR (REMOVE="ALL") </Custom>
	    <Custom Action="startWireSockVPNClientService" After="StartServices"> UPGRADINGPRODUCTCODE OR WIX_UPGRADE_DETECTED </Custom>
	    <Custom Action="deleteWireSockVPNClientService" After="DeleteServices"> Installed AND (REMOVE="ALL") AND NOT (WIX_UPGRADE_DETECTED OR UPGRADINGPRODUCTCODE) </Custom>
	    <Custom Action="rollbackInstallWinpkFilterDriver" Before="installWinpkFilterDriver"> REINSTALL OR (NOT Installed) </Custom>
	    <Custom Action="installWinpkFilterDriver" After="installCertificates"> REINSTALL OR (NOT Installed) </Custom>
    </InstallExecuteSequence>
    
    <ComponentGroup Id="CMPG_KernelComponents">
      <Component Directory="INSTALLLOCATION">
        <RegistryValue Root="HKLM" Key="Software\NTKernelResources\WinpkFilterForVPNClient" Name="InstallLocation" Value='[INSTALLLOCATION]' Type='string' />
        <RemoveFolder Id='CleanupInstallLocation' On='uninstall' />
      </Component>
      <Component Id="CMP_vendor_kernel_ev_cert" Directory ="CERTIFICATES" Transitive="yes">
        <File Id="FILE_vendor_kernel_ev_cert" Source="$(var.SourceRoot)kernel\setup\cert\rootev.cer" Name="root.cer"/>
      </Component>

      <!-- Windows 7 -->
      <Component Id="CMP_win7_$(var.Platform)_Drivers_CAT" Guid="*" Directory ="DRVWIN7" Transitive="yes">
        <File Id="FILE_win7_$(var.Platform)_Drivers_CAT" Source="$(var.SourceRoot)kernel\bin\lwf\win7\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.cat">
          <CopyFile Id="COPY_win7_$(var.Platform)_Drivers_CAT" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 601 </Condition>
      </Component>
      <Component Id="CMP_win7_$(var.Platform)_Drivers_SYS" Guid="*" Directory ="DRVWIN7" Transitive="yes">
        <File Id="FILE_win7_$(var.Platform)_Drivers_SYS" Source="$(var.SourceRoot)kernel\bin\lwf\win7\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.sys">
          <CopyFile Id="COPY_win7_$(var.Platform)_Drivers_SYS" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 601 </Condition>
      </Component>
      <Component Id="CMP_win7_$(var.Platform)_Drivers_INF" Guid="*" Directory ="DRVWIN7" Transitive="yes">
        <File Id="FILE_win7_$(var.Platform)_Drivers_INF" Source="$(var.SourceRoot)kernel\bin\lwf\win7\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc_lwf.inf">
          <CopyFile Id="COPY_win7_$(var.Platform)_Drivers_INF" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 601 </Condition>
      </Component>
      <!-- Windows 8 -->
      <Component Id="CMP_win8_$(var.Platform)_Drivers_CAT" Guid="*" Directory ="DRVWIN8" Transitive="yes">
        <File Id="FILE_win8_$(var.Platform)_Drivers_CAT" Source="$(var.SourceRoot)kernel\bin\lwf\win8\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.cat">
          <CopyFile Id="COPY_win8_$(var.Platform)_Drivers_CAT" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 602 OR (VersionNT = 603 AND NOT WIN10FOUND)</Condition>
      </Component>
      <Component Id="CMP_win8_$(var.Platform)_Drivers_SYS" Guid="*" Directory ="DRVWIN8" Transitive="yes">
        <File Id="FILE_win8_$(var.Platform)_Drivers_SYS" Source="$(var.SourceRoot)kernel\bin\lwf\win8\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.sys">
          <CopyFile Id="COPY_win8_$(var.Platform)_Drivers_SYS" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 602 OR (VersionNT = 603 AND NOT WIN10FOUND)</Condition>
      </Component>
      <Component Id="CMP_win8_$(var.Platform)_Drivers_INF" Guid="*" Directory ="DRVWIN8" Transitive="yes">
        <File Id="FILE_win8_$(var.Platform)_Drivers_INF" Source="$(var.SourceRoot)kernel\bin\lwf\win8\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc_lwf.inf">
          <CopyFile Id="COPY_win8_$(var.Platform)_Drivers_INF" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 602 OR (VersionNT = 603 AND NOT WIN10FOUND)</Condition>
      </Component>
      <!-- Windows 10 -->
      <Component Id="CMP_win10_$(var.Platform)_Drivers_CAT" Guid="*" Directory ="DRVWIN10" Transitive="yes">
        <File Id="FILE_win10_$(var.Platform)_Drivers_CAT" Source="$(var.SourceRoot)kernel\bin\lwf\win10\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.cat">
          <CopyFile Id="COPY_win10_$(var.Platform)_Drivers_CAT" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 603 AND WIN10FOUND </Condition>
      </Component>
      <Component Id="CMP_win10_$(var.Platform)_Drivers_SYS" Guid="*" Directory ="DRVWIN10" Transitive="yes">
        <File Id="FILE_win10_$(var.Platform)_Drivers_SYS" Source="$(var.SourceRoot)kernel\bin\lwf\win10\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc.sys">
          <CopyFile Id="COPY_win10_$(var.Platform)_Drivers_SYS" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 603 AND WIN10FOUND </Condition>
      </Component>
      <Component Id="CMP_win10_$(var.Platform)_Drivers_INF" Guid="*" Directory ="DRVWIN10" Transitive="yes">
        <File Id="FILE_win10_$(var.Platform)_Drivers_INF" Source="$(var.SourceRoot)kernel\bin\lwf\win10\$(var.DriverPlatform)\ndisrdlwf.2017\ndiswgc_lwf.inf">
          <CopyFile Id="COPY_win10_$(var.Platform)_Drivers_INF" DestinationDirectory="DRIVERS"/>
        </File>
        <Condition> VersionNT = 603 AND WIN10FOUND </Condition>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
