<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
 
  <?include $(sys.CURRENTDIR)\Config.wxi?>
  
	<Product Id="*" Name="$(var.ProductName)" Language="1033"  Version="!(bind.FileVersion.FILE_WiresockClientServiceExe)" Manufacturer="NT Kernel Resources" UpgradeCode="DADE5955-90CD-41CB-88FF-FE43E9FAF7E4">
		<Package InstallerVersion="200" InstallPrivileges="elevated" Compressed="yes" InstallScope="perMachine" Description="$(var.ProductName)"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <UIRef Id="WixUI_Minimal"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)\license\wiresock_eula.rtf" />
    
    <!-- Launch conditions -->
    <Condition Message="This installation is only supported on Windows 7, Windows Server 2008 R2, or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <?if $(var.Platform) = x64 ?>
    <Condition Message="This installation is only supported on x64 architecture.">
      <![CDATA[Installed OR VersionNT64]]>
    </Condition>
    <?else ?>
    <Condition Message="This installation is only supported on x86 architecture.">
      <![CDATA[Installed OR (NOT VersionNT64)]]>
    </Condition>
    <?endif ?>

    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)"
                Key="Software\NTKernelResources\WireSockGateway" Name="InstallLocation" />
    </Property>

    <Property Id="WIN10FOUND" Secure="yes">
      <DirectorySearch Id="searchSystem" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="searchFile"
                    Name="advapi32.dll"
                    MinVersion="6.3.10000.0"/>
      </DirectorySearch>
    </Property>

	<Feature Id="FEAT_CoreComponents" Title="Windows Packet Filter for WireSock VPN Client" Level="1" Absent="disallow">
		<ComponentGroupRef Id="CMPG_KernelComponents" />
	</Feature>

	<Feature Id="FEAT_UserModeBinaries" Title="WireSock VPN Client Service" Level="1" Absent="disallow">
		<ComponentGroupRef Id="CMPG_UserModeBinaries" />
	</Feature>

	<Feature Id="FEAT_WiresockAdapter" Title="WireSock Virtual Network Adapter" Level="1" Absent="allow">
		<ComponentGroupRef Id="CMPG_WiresockComponents" />
	</Feature>

    <CustomActionRef Id='SaveCmdLineValue' />
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="$(var.PlatformProgramFilesFolder)">
            <Directory Id="INSTALLLOCATION" Name="$(var.InstallName)">
                <Directory Id="DRIVERS" Name="drivers">
	                <Directory Id="DRVWIN7" Name="win7"/>
                    <Directory Id="DRVWIN8" Name="win8"/>
                    <Directory Id="DRVWIN10" Name="win10"/>
                </Directory>
				<Directory Id="WIRESOCKADAPTER" Name="wiresock-adapter">
					<Directory Id="WSWIN10" Name="win10"/>
					<Directory Id="WSLEGACY" Name="legacy"/>
				</Directory>
                <Directory Id="CERTIFICATES" Name="certificates"/>
                <Directory Id="BINARIES" Name="bin"/>
                <Directory Id="LICENSE" Name="license"/>
            </Directory>
        </Directory>
	    <Directory Id="ProgramMenuFolder" />
		    <Directory Id="CommonAppDataFolder">
			<Directory Id="CommonAppDataManufacturerFolder" Name="NT Kernel Resources">
				<Directory Id="MyAppDataFolder" Name="WireSock VPN Client"/>
			</Directory>
		</Directory>
	</Directory>
	
	</Fragment>

  <!--http://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/-->
  <Fragment>
    <CustomAction Id="SaveCmdLineValue" Property="CMDLINE_INSTALLLOCATION" Value="[INSTALLLOCATION]" Execute="firstSequence" />
    <CustomAction Id="SetFromCmdLineValue" Property="INSTALLLOCATION" Value="[CMDLINE_INSTALLLOCATION]" Execute="firstSequence" />

    <InstallUISequence>
      <Custom Action='SaveCmdLineValue' Before='AppSearch' />
      <Custom Action='SetFromCmdLineValue' After='AppSearch'>CMDLINE_INSTALLLOCATION</Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action='SaveCmdLineValue' Before='AppSearch' />
      <Custom Action='SetFromCmdLineValue' After='AppSearch'>CMDLINE_INSTALLLOCATION</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
